<header>
	<nav class="navbar navbar-expand-lg bg-primary" data-bs>
		<div class="container-fluid">
			<a class="navbar-brand" href="{{path('home') }}">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">creation de voyage</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{path('marque_index')}}">Marque</a>
							<a class="dropdown-item" href="{{path('modele_index')}}">Modele</a>
							<a class="dropdown-item" href="{{path('moto_index')}}">moto</a>
                            <a class="dropdown-item" href="{{path('sortie_index')}}">sortie</a>
                            <a class="dropdown-item" href="{{path('cotisation_index')}}">cotisation</a>
							
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('contact') }}">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('cgu') }}">Cgu</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-secondary ms-2" href="#">Connecter</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-secondary ms-2" href="#">Deconnecter</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-secondary ms-2" href="#">s'inscrire</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
